/* 全体 */
:root {
    --header-height: 64px;
    --footer-height: 80px;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans JP";
    letter-spacing: .05em;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

a {
    text-decoration: none;
    color: #00a;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

ol {
    list-style-position: inside;
}

input {
    display: block;
}

/* ヘッダー */
header {
    background-color: #00a;
    height: var(--header-height);
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1 {
    color: #fff;
    font-size: 24px;
    line-height: var(--header-height);
    margin-left: 24px;
}

h1:after {
    content: " - このUIってどうやって作るの？ このUIってどういう仕組みなの？ -";
    font-size: 14px;
}

h1 a {
    color: #fff;
}

h1 a:hover {
    text-decoration: none;
}

/* ハンバーガーメニュー */
.hamburger {
    cursor: pointer;
    height: 48px;
    position: fixed;
    right: 8px;
    top: 8px;
    width: 48px;
    z-index: 300;
}

.hamburger span {
    background-color: #fff;
    border-radius: 50px;
    height: 2px;
    position: absolute;
    transition: all .5s;
    width: 32px;
}

.hamburger span:nth-of-type(1) {
    top: 16px;
}

.hamburger span:nth-of-type(2) {
    top: 24px;
}

.hamburger span:nth-of-type(3) {
    top: 32px;
}

header nav {
    background-color: #333c;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all .5s;
    width: calc(100% / 5);
    z-index: 200;
}

header nav ul {
    list-style: none;
    line-height: 200%;
    margin-top: 48px;
    overflow: auto;
    width: 90%;
}

header nav a {
    color: #fff;
}

header nav.active {
    transform: translateX(0);
}

.hamburger.active span:nth-of-type(1) {
    top: 24px;
    transform: rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    top: 24px;
    transform: rotate(45deg);
}

/* メイン */
main {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 64px;
}

/* トースト通知 */
.toast-notice {
    background-color: #0b0b;
    border-radius: 8px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    opacity: 0;
    padding: 8px 16px;
    position: fixed;
    right: 0;
    top: calc(var(--header-height) + 8px);
    transform: translateX(100%);
    transition: all .5s ease;
    user-select: none;
}

.toast-notice.active {
    opacity: 1;
    transform: translateX(-8px);
}

/* パンくずリスト */
.breadcrumb-nav {
    font-size: 12px;
}

/* 見出し要素の余白 */
h2,
h3 {
    margin-top: 24px;
}

/* 見出し要素のデザイン */
h2 {
    border-bottom: 2px solid #cc0;
    border-left: 8px solid #aa0;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 70%;
}

/* 段落 */
p {
    font-size: 14px;
    margin: 16px 0 16px 16px;
}

.important {
    background-color: #cff;
    border: 1px solid #00c;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
}

.attention {
    background-color: #ffc;
    border: 1px solid #cc0;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
}

.caution {
    background-color: #fcc;
    border: 1px solid #c00;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
}

/* spanタグ */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.red {
    color: #f00;
}

/* コード表示部分 */
.code-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.copy-button {
    background-color: #0f0;
    border: 2px solid #0a0;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin: 16px 0 0 80px;
    padding: 8px;
    width: 64px;
}

.copy-button:hover {
    cursor: pointer;
    opacity: .6;
}

.copy-button:disabled {
    color: #000;
    pointer-events: none;
}

pre {
    background-color: #004;
    border-radius: 4px;
    color: #ffc;
    display: block;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 16px 80px;
    padding: 16px 0 16px 40px;
    width: 60%;
}

/* ページトップボタン */
.page-top {
    opacity: 0;
    position: fixed;
    right: 8px;
    top: 85%;
    transition: all .5s;
    visibility: hidden;
    z-index: 100;
}

.page-top.is-visible {
    opacity: 1;
    visibility: visible;
}

.page-top a {
    background-color: #00cc;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 16px;
}

.page-top a:hover {
    font-weight: normal;
    opacity: .6;
    text-decoration: none;
}

/* フッター */
footer {
    background-color: #00a;
    color: #fff;
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: center;
}

footer a {
    color: #fff;
}